*~
*.pyc
.*.sw?
.coverage
/docs_build/
/docs_output/
/releng/
.build/
.cache/
ci/apex_build.log
ci/apex_deploy.log
.tox/
apex.egg-info/
/apex/tests/playbooks/*.retry
coverage.xml
nosetests.xml
ci/apex_clean.log
*.*
