---
global_params:
  ha_enabled: false
  patches:
    undercloud:
      - change-id: Ib8ff69a4bc869de21ad838b3bc6c38a8676036c6
        project: openstack/tripleo-heat-templates
    overcloud:
      - change-id: Ie988ba6a2d444a614e97c0edf5fce24b23970310
        project: openstack/puppet-tripleo
        branch: master
deploy_options:
  containers: true
  os_version: master
  sdn_controller: opendaylight
  odl_version: master
  tacker: false
  congress: false
  sfc: false
  vpn: false
